:root {
  --light: #afbecb;
  --dark: #2980b9;
  --text: #333;
  --base-json: #5f7d96;
  --background: #011727;
  // --hint: #d1ccc0;
  --purple: #c692e9;
  --yellow: #ffcc8b;
  --bright-yellow: #fff200;
  --blue: #83aaff;
  --water-green: #7fdbc9;
  --green: #aedb66;
  --orange: #f68d6c;
  --red: #ff5252;
  --font-family: "Dancing Script", cursive;
  // --font-family2: "Edu TAS Beginner", cursive;
  --box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%),
    0 1px 3px 1px rgb(60 64 67 / 15%);
}
