.mb-5 {
  margin-bottom: 5rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.bsd-90 {
  left: calc(90% - 5px);
}
.bsp-90 {
  width: 90%;
}

.bsd-80 {
  left: calc(80% - 5px);
}
.bsp-80 {
  width: 80%;
}

.bsd-60 {
  left: calc(60% - 5px);
}
.bsp-60 {
  width: 60%;
}

.bsd-40 {
  left: calc(40% - 5px);
}
.bsp-40 {
  width: 40%;
}

.bsd-25 {
  left: calc(25% - 5px);
}
.bsp-25 {
  width: 25%;
}
